/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/lato-v22-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/lato-v22-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('../fonts/lato-v22-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/lato-v22-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-900 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local(''),
       url('../fonts/lato-v22-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/lato-v22-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: 'Lato';
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  color: #000;
}
img {
  max-width: 100%;
  height: auto;
}

.wreapper {
  max-width: 1060px;
  margin: 0 auto;
}
.wreapper-full {
  max-width: 1262px;
  margin: 0 auto;
}
.section-title {
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  position: relative;
  padding-bottom: 7px;
}
.section-title::after {
  display: block;
  content: '';
  width: 253px;
  height: 3px;
  background-color: #006DFE;
  position: absolute;
  bottom: 0;
  left: 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.header__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  padding-top: 56px;
}
.header__list {
  display: flex;
  flex-wrap: wrap;
}
.header__item {
  margin-right: 82px;
}
.header__item:last-child {
  margin-right: 0;
}
.header__link {
  font-size: 18px;
  line-height: 24px;
  color: white;
  text-decoration: none;
  transition: .2s all;
}
.header__link:hover, .header__link:focus, .header__link:active {
  opacity: 0.75;
}
.intro {
  min-height: 100vh;
  background: url(../img/intro-bg.jpg) no-repeat center;
  background-size: cover;
  padding-top: 263px;
  padding-bottom: 223px;
}
.intro__title {
  color: white;
  font-weight: 500;
  font-size: 50px;
  line-height: 60px;
  max-width: 619px;
  margin-bottom: 22px;
}
.intro__subtitle {
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  max-width: 546px;
  margin-bottom: 59px;
}

.search-form__info {
  display: flex;
  flex-wrap: wrap;
}
.search-form_field {
  width: 297px;
  background-color: transparent;
  background: url(../img/svg/circle-ico.svg) no-repeat left 5px;
  background-size: 20px;
  border: 0;
  border-bottom: 2px solid #BFC0C5;
  margin-right: 60px;
  padding-left: 43px;
  padding-bottom: 22px;
  color: white;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}
.search-form_field::placeholder {
  color: white;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}
.search-form__submit {
  padding: 15px 39px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  background: #1B7DFF;
  border: 0;
  transition: .2s all;
}
.search-form__submit:hover, .search-form__submit:focus, .search-form__submit:active {
  background: #004299;
}
.benefits {
  margin-bottom: 131px;
}
.benefits__wrap {
  max-width: 1262px;
  background-color: white;
  margin: 0 auto;
  box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
  position: relative;
}
.benefits__title {
  width: 100%;
  font-weight: 500;
  font-size: 35px;
  line-height: 42px;
  padding: 93px 100px 88px 100px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  background-color: white;
}
.benefits__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 55px;
  padding: 32px 100px 112px;
}
.benefits__card {
  grid-column: span 1;
}
.benefits__card-pic {
  margin-bottom: 37px;
}
.benefits__card-thumb {
  display: block;
}
.benefits__card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 26px;
}
.benefits__card-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 39px;
}
.benefits__card-more {
  display: inline-block;
  padding-right: 59px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #006DFE;
  text-decoration: none;
  background: url(../img/svg/arrow-right-ico.svg) no-repeat 85% center;
  transition: .4s all;
}
.benefits__card-more:hover, .benefits__card-more:focus, .benefits__card-more:active { 
  background: url(../img/svg/arrow-right-ico.svg) no-repeat right center;
}
.places {
  margin-bottom: 131px;
}
.places__caption {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 36px;
}
.places__view-all {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #006DFE;
  text-decoration: none;
  padding-right: 59px;
  background: url(../img/svg/arrow-right-ico.svg) no-repeat 85% center;
  transition: .4s all;
}
.places__view-all:hover, .places__view-all:focus, .places__view-all:active {
  background: url(../img/svg/arrow-right-ico.svg) no-repeat right center;
}
.places__title {
  margin-right: 15px;
}
.places_cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
}
.places__card {
  position: relative;
  transition: .4s all;
}
.places__card::after {
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(21, 24, 36, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.places__card:hover, .places_cards-pic:hover {
  transform: scale(1.05);
}
.places__card_size_lg {
  grid-column: span 3;
}
.places_cards-title {
  z-index: 3;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  color: white;
  position: absolute;
  bottom: 27px;
  left: 29px;
}
.places_cards-pic {
  width: 100%;
  height: 354px;
  object-fit: cover;
  transition: .4s all;
}
.places__card-link {
  z-index: 4;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.places__card_size_sm {
  grid-column: span 2;
}
.places_cards-pics {
  width: 100%;
  height: 283px;
  object-fit: cover;
  transition: .4s all;
}
.places__card:hover, .places_cards-pics:hover {
  transform: scale(1.05);
}
.tours {
  margin-bottom: 139px;
}
.tours__tour {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0 108px;
  align-items: center;
  margin-bottom: 77px;
}
.tour__title {
  font-weight: 500;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 85px;
}
.tour__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 58px;
}
.tour__more {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #006DFE;
  text-decoration: none;
  padding-right: 59px;
  background: url(../img/svg/arrow-right-ico.svg) no-repeat 90% center;
  transition: .4s all;
}
.tour__more:hover, .tour__more:focus, .tour__more:active {
  background: url(../img/svg/arrow-right-ico.svg) no-repeat right center;
}
.ott {
  margin-left: 50px;
}
.hhh {
  max-width: 519px;
}
.hh2 {
  margin-right: 50px;
}
.top {
  margin-bottom: 86px;
}
.top__title {
  margin-bottom: 54px;
}
.top__card-pic {
  position: relative;
  margin-bottom: 45px;
}
.top__card-stats {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(21, 24, 36,0.6);
  padding: 16px 25px;
}
.top__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 57px;
}
.top__card-title {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: white;
  margin: 0 auto 0 0;
}
.top__card-likes {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: white;
  padding-right: 20px;
  background: url(../img/svg/heart-ico.svg) no-repeat right;
  margin-right: 14px;
}
.top__card-comments {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: white;
  padding-right: 23px;
  background: url(../img/svg/comment-ico.svg) no-repeat right;
}
.top__card-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 31px;
}
.top_card-more {
  width: 118px;
  padding: 12px 19px;
  background: #006DFE;
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  transition: .2s all;
  margin: auto 0 0 0;
}
.top_card-more:hover, .top_card-more:focus, .top_card-more:active {
  background: #004299;
}
.top__card {
  display: flex;
  flex-direction: column;
}